// https://discord.com/developers/applications/[appId]/bot -> Token
DISCORD_TOKEN=

// https://discord.com/developers/applications/[appId]/oauth2 -> Client ID
CLIENT_ID=

// https://github.com/distubejs/plugins/blob/main/packages/yt-dlp/src/env.ts
YTDLP_DIR=/usr/bin
YTDLP_FILENAME=yt-dlp